---
import MacBook from "../assets/MacBookEN.png";
import Button from "../components/ui/Button.astro";
---

<section class="container-fluid hero">
  <div class="container hero-container">
    <div class="hero-left">
      <h1>Limulus AI</h1>
      <h4 class="hero-title">
        Say goodbye to “no-reply”. It’s time for AI that always responds.
      </h4>
      <p class="hero-content">
        Is your contact inbox silent while customers are asking questions?<br
        /><br />
        Limulus AI is a revolutionary technology that turns one-way messages into
        conversations, automates replies, and solves customer problems faster than
        anyone on your team.
      </p>
      <p class="p--big">
        Register for the event and see Limulus AI live in action!
      </p>
      <Button class="hero-button" label="Register" href="#about" />
    </div>
    <div class="hero-right">
      <img src={MacBook.src} alt="MacBook with Limulus AI" />
    </div>
  </div>
</section>
