<section class="integration">
  <div class="container">
    <h2>Integrations</h2>
    <hr class="integration-divider" />
    <div class="integration-content">
      <h3>Limulus AI works with any helpdesk.</h3>
      <p class="p--big">
        Limulus AI integrates with any helpdesk such as Intercom, Zendesk,
        Salesforce, and others – without the need for migration.
      </p>
    </div>
  </div>
</section>
