---
import Usages from "../assets/usageEN.png";
---

<section class="usage">
  <div class="container">
    <h2>Use case example</h2>
    <div class="usage-demo">
      <img src={Usages.src} alt="Use case example" />
    </div>
  </div>
</section>
